/* Common header styles */

ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	display: flex;
}

.header a {
	padding: 16px;
	display: block;
	/*border-right: 1px solid #fff;*/
	width: auto;
	text-align: center;
}

.header {
	width: 100%;
	background: #2c2c2c;
	height: 50px;
}

/* Common footer styles */

.footer {
	width: 100%;
	background: #2c2c2c;
	height: 50px;
	display: flex;
	align-self: flex-end;
	margin: auto;
}

.copirait {
	width:100%;
	align-self: flex-end;
}

.footerText {
	font-family: 'Arial';
    color: #fff;
    font-size: 11px;
    line-height: 28px;
    padding-left: 25px;
    margin-bottom: 5px;
}
