/* TODO: написать в одну строку все, что можно объединить*/

* {
	margin: 0;
}

html,
body {
  	height: 100%;
}

/*h2 {
	text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -1px;
    text-align: center;
    padding-top: 10px;
} */

p {
	font-family: 'Arial';
    color: #2c2c2c;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 24px;
}
/*
h3 {
	font-family: 'Arial';
    font-size: 25px;
    line-height: 28px;
    color: #00af58;
    padding-bottom: 15px;
}*/

/***** Header *****/

a {
	text-decoration: none; /* color of menu */
	color: #fff;
}

a:hover { 
    text-decoration: underline;
}

.container {
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

.header {
	width: 100%;
	background: #2c2c2c;
	height: 50px;
	order: 1;
}

/***** Names of stories from vacation *****/

.storyFromVacation {
	width: 30%;
	min-height: calc(100vh - 100px);
	order: 2;
}

.days {
	font-family: 'Arial';
    color: #2c2c2c;
    font-size: 20px;
    line-height: 28px;
    display: block;
    padding-top: 20px;
}

 .days:active {
    color: #f00; /* Цвет активной ссылки */ 
   } 




/***** Content of stories *****/

.storyContent {
    width: 70%;
    min-height: calc(100vh - 100px);
    box-sizing: border-box;
    border-left: 10px solid #00af58;
    order: 3;
}



#div_for_insert {
	font-family: 'Arial';
    color: #2c2c2c;
    font-size: 20px;
    line-height: 28px;
    padding-top: 20px;
    padding-left: 20px;
}


.imgInText {
	width: 50%;
	margin: auto;
}

/*это контейнер для адаптивных фоток 2 в ряд*/
.photoContainer { 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.photoInText {
    width: 50%;
}

.imgInText2 { 
    width: 99%; 
    margin: auto;
}

/*вывести фото на всю ширину блока*/

.imgInText3 { 
    width: 99%; 
    margin: auto;
}

/***** footer *****/

/**.footer {
	width: 100%;
	background: #2c2c2c;
	height: 50px;
	display: flex;
	align-self: flex-end;
	order: 4;
}**/

@media screen and (max-width: 1459px) {

    .container {
        width: 80%;
	}

	.footer {
        width: 80%;
    }

	/*h2 {
	font-size: 30px;
	}

	h3 {
	font-size: 25px;
	}

	p {
	font-size: 16px;
	}*/
}

/***** hamburger menu *****/

.menuBurger {
  display: none;   /* hide hamburger menu */
}

@media screen and (max-width: 699px) {
    .storyFromVacation {
        width: 100%;
        min-height: calc(40vh - 99px);
        order: 2;
    }

    .storyContent {
        width: 100%;
        min-height: calc(100vh - 100px);
        order: 3;
    }

    .container {
        width:90%;
    }

    .footer {
    	width: 90%;
    }
}

@media screen and (max-width: 450px) {
  .menu {
    display: none; /* hide menu items */
    background: #2c2c2c;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
  }

  /*.menu li {
    float: none;
  }*/

  .menuBurger {
    display: block; /* иконка гамбургер видна */
    padding-left: 20px;
    padding-top: 9px;
  }

  .container {
    width: 100%;
  }

  .storyFromVacation {
    width: 90%;
    margin: auto;
  }

    .footer {
      	width: 100%;
    }
}