/* TODO: написать в одну строку все, что можно объединить*/

* {
	margin: 0;
}

html,
body {
  	height: 100%;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover { 
    text-decoration: underline;
}

h4 {
	text-transform: uppercase;
    font-weight: bold;
    font-size: 21px;
    line-height: 42px;
    letter-spacing: -1px;
    padding-top: 20px;
    padding-bottom: 10px;
}

p {
	font-family: 'Arial';
	color: #333;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
}

.container {
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

/***** content *****/

.projectWrapper {
	min-height: calc(100vh - 100px); /*press footer to bottom*/
	width: 100%;
}

.project {      /*container for item*/
	width: 20%;
	box-sizing: border-box;
	border: 1px solid #fff;
	height: 100px;
}

.try {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.projectName {
	font-family: 'Arial';
    color: #2c2c2c;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    padding-top: 30px;
}

.source {
	font-family: 'Arial';
    color: #2c2c2c;
    font-size: 10px;
    line-height: 28px;
    text-align: center;
    color: blue;
}

.projectName:hover {
	text-decoration: underline;
}


.imgInText {
	width: 99%;
}

.FullimgInText {
	width: 50%;
}

.photoContainer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.photoInText {
	width: 50%;
}