/* TODO: написать в одну строку все, что можно объединить*/

* {
    margin: 0;
}



a {
    text-decoration: none;
    color: #fff;
}

a:hover { 
    text-decoration: underline;
}

h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 21px;
    line-height: 42px;
    letter-spacing: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
}

p {
    font-family: 'Arial';
    color: #333;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
}


.container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

/***** content *****/

.projectWrapper {
    min-height: calc(100vh - 100px); 
    width: 100%;
}

/*.project {     
    width: 20%;
    box-sizing: border-box;
    border: 1px solid #fff;
    height: 100px;
}

.try {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.projectName {
    font-family: 'Arial';
    color: #2c2c2c;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    padding-top: 30px;
}

.source {
    font-family: 'Arial';
    color: #2c2c2c;
    font-size: 10px;
    line-height: 28px;
    text-align: center;
    color: blue;
}

.projectName:hover {
    text-decoration: underline;
}


.imgInText {
    width: 99%;
}

.FullimgInText {
    width: 50%;
}

.photoContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.photoInText {
    width: 33%;
}

.aroundPhoto {
    margin-bottom: 24px;
}*/

/***** slider *****/

 .bodyN {
      /*height: 3000px;*/
     /* min-height: calc(100vh - 268px);*/
    }

    /* стили основного контейнера слайдера */
    .slider {
      position: relative;
      overflow: hidden;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
     
    }

    /* стили для обёртки, в которой заключены слайды */
    .slider__wrapper {
      position: relative;
      overflow: hidden;
    }

    /* стили для контейнера слайдов */
    .slider__items {
      display: flex;
      transition: transform 0.6s ease;
    }

    /* стили для слайдов */
    .slider__item {
      flex: 0 0 100%;
      max-width: 100%;
    }

    /* стили для кнопок "вперед" и "назад" */
    .slider__control {
      position: absolute;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      color: #fff;
      text-align: center;
      opacity: 0.5;
      height: 50px;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.5);
    }

    .slider__control:hover,
    .slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: 0.9;
    }

    .slider__control_prev {
      left: 0;
    }

    .slider__control_next {
      right: 0;
    }

    .slider__control::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .slider__control_prev::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .slider__control_next::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    /* стили для индикаторов */
    .slider__indicators {
      position: absolute;
      right: 0;
      bottom: 10px;
      left: 0;
      z-index: 15;
      display: flex;
      justify-content: center;
      padding-left: 0;
      margin-right: 15%;
      margin-left: 15%;
      list-style: none;
      margin-top: 0;
      margin-bottom: 150px;
    }

    .slider__indicators li {
      box-sizing: content-box;
      flex: 0 1 auto;
      width: 30px;
      height: 4px;
      margin-right: 3px;
      margin-left: 3px;
      text-indent: -999px;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.5);
      background-clip: padding-box;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }

    .slider__indicators li.active {
      background-color: #fff;
    }

    .slider__item {
      height: 250px;
      position: relative;
    }

    .slider__item_1 {
      background: url("../img/vietnam/1slide.jpg") center;
       height: 600px;
       background-size: cover;
    }

    .slider__item_2 {
      background: url("../img/vietnam/2slider.jpg") no-repeat;
      height: 600px;
      background-size: cover;
    }

    .slider__item_3 {
      background: url("../img/vietnam/3slide.jpg") center;
      height: 600px;
      background-size: cover;
    }

    .slider__item_4 {
      background: url("../img/vietnam/4slide.jpg") center;
       height: 600px;
       background-size: cover;
    }

     .slider__item_5 {
      background: url("../img/vietnam/5slide.jpg") center;
       height: 600px;
       background-size: cover;
    }

    .slider__item_6 {
      background: url("../img/vietnam/6slide.jpg") center;
      height: 600px;
      background-size: cover;
    }

    .slider__item_7 {
      background: url("../img/vietnam/7slide.jpg") center;
      height: 600px;
      background-size: cover;
    }

    .slider__item_8 {
      background: url("../img/vietnam/8slide.jpg") center;
       height: 600px;
       background-size: cover;
    }

    .slider__item_9 {
      background: url("../img/vietnam/9slide.jpg") center;
      height: 600px;
      background-size: cover;
    }

    .slider__item_10 {
      background: url("../img/vietnam/10slide.jpg") center;
       height: 600px;
       background-size: cover;
    }

    .slider__item_11 {
      background: url("../img/vietnam/11slide.jpg") center;
       height: 600px;
       background-size: cover;
    }



    .slider__item_inner {
      position: absolute;
      left: 15%;
      right: 15%;
      top: 20px;
      bottom: 40px;
      overflow: hidden;
      color: #fff;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .slider__item_title {
    font-family: 'Arial';
    color: white;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
    font-weight: 800;
    text-transform: uppercase;
    margin: auto;
    }

    .containerForSlider {
      height: 100%;
    }